{% extends "layout.html" %}

{% block body %}
    <div class="flex flex-col py-[7vh] px-[10vw] md:px-0">
        <!-- Title -->
        <h1 class="text-6xl font-bold text-primary mb-6 text-center">Create Pet</h1>

        <!-- Horizontal line -->
        <hr class="border-gray-300 w-48 mb-8 mx-auto border-2">

        <p class="text-center text-gray-500 italic">* indicates a required field</p>
        
        <!-- Cancel button -->
        <form action="/" method="get" class="w-full max-w-lg mt-6">
            <button class="text-gray-600 hover:text-gray-800 font-medium">&lt Cancel</button>
        </form>


        <!-- Form fields container -->
        <form action="/create-pet" method="post" class="w-full md:w-[50vw] max-w-lg flex flex-col gap-6">
            {% for id,value in fields.items() %}
                <div class="flex flex-col mt-[5vh]">
                    <label class="font-semibold mb-1">{{value["name"]}} {% if value['req'] %}*{% endif %}</label>
                    {% if value['descr'] %}
                        <span class="text-gray-500 italic text-sm mb-1">{{value['descr']}}</span>
                    {% endif %}
                    <input autocomplete="off" name={{id}} type={% if value["name"] == "Password" %}"password"{%else%}"text"{%endif%} class="border-b border-gray-300 focus:border-primary focus:outline-none py-1">
                </div>

            {% endfor %}

            <!-- Create button aligned right -->
            <div class="flex justify-end mt-4">
                <button type="button" 
                        class="bg-primary text-white px-6 py-2 rounded-custom font-medium hover:bg-accent transition">
                    Create
                </button>
            </div>

        </form>
    </div>

{% endblock %}