{% extends "layout.html" %}

{% block body %}
    hello
    {{fields}}
    {{stage}}

    <form action="/" method="get">
        <button>Cancel</button>
    </form>
    <form action="/create-pet" method="post">
        {% for f in fields %}

            <p>{{f['category']}} {% if f['req'] %}*{% endif %}</p>
            {{f['id']}}
            {% if f['descr'] %}
                <p>{{f['descr']}}</p>
            {% endif %}
            <input name={{f['id']}} type={% if f['category'] == "Password" %}"password"{%else%}"text"{%endif%}>

        {% endfor %}
        <button type="submit">Next</button>
    </form>
{% endblock %}