<!-- Layout of every page -->

<!DOCTYPE html>
<html lang="en">
    <!-- header -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" rel="stylesheet">
        <title>PawPass</title>
    </head>

    <body>
        {% block body %}
        {% endblock %}
        
        <!-- Scripts -->
        <script src="/static/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>