{% extends "layout.html" %}

{% block body %}
    <div class="flex flex-col py-[7vh] px-[10vw] md:px-12 bg-white border-2 border-gray-300 md:w-[50vw] w-[80vw] rounded-2xl">
        
        <h1 class="text-5xl font-extrabold text-blue-500 mb-3 tracking-tight text-center italic">{{data[0]["info"] | cap}}</h1>
        <hr class="border-gray-300 border-[3px] w-48 mx-auto mb-4">
        <p class="text-center mb-8"><strong>Species:</strong> {{data[1]["info"]}}</p>

        <!-- Pet Info -->
        <div class="mx-auto w-4/5 flex flex-col md:flex-row space-y-6 md:space-y-0">
            <div class="space-y-6 text-left mx-auto w-full md:w-[40%]">
                {% for d in data %}
                    {% if (fields[d['cat_id']|str]["name"] not in ["Pet Name", "Pet Type", "Owner Name", "Owner Contact Information"])%}
                        <div>
                            <h2 class="font-semibold text-lg text-gray-800">{{fields[d['cat_id']|str]["name"]}}:</h2>
                            <p class="italic text-gray-600">{{d["info"]}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="space-y-6 text-left mx-auto w-full md:w-[30%]">
                {% for d in data %}
                    {% if (fields[d['cat_id']|str]["name"] in ["Owner Name", "Owner Contact Information"])%}
                        <div>
                            <h2 class="font-semibold text-lg text-gray-800">{{fields[d['cat_id']|str]["name"]}}:</h2>
                            <p class="italic text-gray-600">{{d["info"]}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        
        <!-- Title -->
        <!-- <h1 class="text-6xl font-bold text-primary mb-6 text-center">{{data[0]["info"] | cap}}</h1>
        <p class="text-center">-- {{data[1]["info"]}} --</p>

        <div class="flex flex-col w-full md:w-[50%] justify-center mx-auto">

            {% for d in data %}
                {% if (fields[d['cat_id']|str]["name"] != "Pet Name") and (fields[d['cat_id']|str]["name"] != "Pet Type")%}
                    <p class="font-bold text-left">{{fields[d['cat_id']|str]["name"]}}:</p>
                    <p class="text-left">{{d["info"]}}</p>
                {% endif %}
            {% endfor %}
        </div> -->

    </div>
{% endblock %}